apiVersion: apps/v1
kind: Deployment
metadata:
  name: raja-deploy
  namespace: default
spec:
   replicas: 8
   selector:
     matchLabels:
       app: nginx
   template:
     metadata:
       labels:
         app: nginx
     spec:
       containers:
         - name: nginx-app
           image: nginx

  




